  .hero-wrapper {
    position: relative;
    background-color: transparent
    /* background-color: #102c2c;
    background-attachment: fixed;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.76)), 
        url(../assets/img/image2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .hero-contact-wrapper {
    width: 100%;

  }

  .hero-contact-wrapper {
    width: 100%;
    max-width: 560px;
    background-color: rgba(240, 248, 255, 0.966);
  }


  .cstmBtn {
    background: #dfe0e4;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin:  10px;
    color: rgb(41, 40, 40);
  }
  
  .cstmBtn span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  .cstmBtn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .cstmBtn:hover {
    color: #fff;
  }
  
  .cstmBtn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  .details-box-desktop {
    display: block;
  }

  .details-box-mobile {
    display: none;
    z-index: 9999999 !important;
  }

  @media (max-width: 1023px) {
    .details-box-mobile {
      display: block;
    }
    .details-box-desktop {
      display: none;
    }
    .hero-contact-wrapper {
      display: none;
    }
}


/* .hero-details-wrapper span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.hero-details-wrapper span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero-details-wrapper span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
} */


